<!doctype html>
	<head>
	{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %} - My Webpage</title>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
				{% for message in messages %}
					<li class="flashes">{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	{% endblock %}
	</head>
	<body>
		<a href="/"><img src="{{ url_for('static', filename='logo.jpg') }}"></img></a>
    

		<!-- Navigation bar -->
		<div class="topnav">
			<a href="/">Home</a>

			<li class="dropdown">
				<a href="/articles" class="nav">Articles</a>
				<div class="dropdown-content">
					{% for setting, value in settings.items() %}
					 <a href="{{ url_for('categories', category = setting) }}">{{ setting }}</a>
					{% endfor %}
				</div>
			</li>

			<a href="">Contact</a>

			{% if not session['logged_in'] %}
				<a href="{{ url_for('login') }}"> Login </a>
				<a href="{{ url_for('register') }}"> Register </a>
			{% endif %}
			{% if session['logged_in'] %}
				<a href="{{ url_for('profile', username=session['username'])}}">Profile</a>		
				<a href="/logout"> Logout </a>
			{% endif %}
			
		</div>

		

    <div id="content">
	{% if session['username'] %}
		<li.a><small>You're logged in, {{session['username']}}</small></li>
	{% endif %}
	{% block content %}
	{% endblock %}
	</div>
    
	<div id="footer">
      {% block footer %}
      <p>&copy; Copyright 2018 by Patrick Downey - Patrick & Kate Music</p>
      {% endblock %}
    </div>
  </body>
</html>